* { margin:0; padding:0; box-sizing:border-box; font-family:Arial,sans-serif; }

body {
  background:#0a0a1f;
  color:white;
  overflow-x:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

#bgCanvas { position:fixed; top:0; left:0; z-index:-1; }

.container { width:400px; text-align:center; }

.title {
  font-size:26px;
  margin-bottom:20px;
  color:#22c55e; /* hijau luxury */
  text-shadow:0 0 15px #22c55e;
}

.card {
  background:rgba(20,20,50,0.85);
  padding:20px;
  border-radius:12px;
  margin-bottom:15px;
  box-shadow:0 0 25px rgba(34,197,94,0.3); /* hijau */
}

.hidden { display:none; }

.subtitle { margin-bottom:15px; }

.login-card input {
  width:90%;
  padding:12px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}

.login-card button {
  width:95%;
  padding:12px;
  border-radius:8px;
  border:none;
  background:#22c55e;
  color:black;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}
.login-card button:hover { background:#16a34a; }

.status-box { margin-bottom:10px; font-weight:bold; color:#22c55e; }
.total-claim-box { margin-bottom:10px; font-weight:bold; }
.live-feed-box { font-size:14px; color:#00ffff; margin-bottom:10px; }

.claim-btn-box { margin-bottom:10px; }

#claimBtn {
  width:95%;
  padding:12px;
  border-radius:8px;
  border:none;
  background:#22c55e;
  color:black;
  font-weight:bold;
  cursor:pointer;
  margin-bottom:10px;
}
#claimBtn:hover { background:#16a34a; }

.cs-box a {
  display:inline-block;
  margin-top:10px;
  padding:8px 15px;
  background:#22c55e;
  color:black;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}
.cs-box a:hover { background:#16a34a; }

.popup {
  position:fixed;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  background:#141432;
  padding:20px;
  border-radius:12px;
  box-shadow:0 0 25px rgba(34,197,94,0.5);
  color:white;
  text-align:center;
  z-index:1000;
}
.popup.hidden { display:none; }
.popup button {
  margin-top:10px;
  padding:8px 15px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  color:black;
  cursor:pointer;
}
.popup button:hover { background:#16a34a; }

.footer { font-size:12px; color:#ccc; margin-top:10px; }
